*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-size: cover;
}
.container{
    position: absolute;
    display: flex;
    height: 99%;
    width: 99%;
    margin: 1px;
}
video{
    display: flex;
    position: absolute;
    width: 20%;
    height: 40%;
    left: 20%;
    top: 20%;


    background-color: #4a4e69;
   
}
.foto2 {

    position: absolute;
    height: 80%;
    width: 40%;
    left: 55%;
    top: 20%;
    background-color: #C9ADA7;
    border-radius: 10px;
    font-family: 'Playfair', serif;
    font-size: 150%;
}
.voltar{
    text-align: center;
    color:black;
    position: absolute;
    background-color: cornsilk;
   top: 5%;
   left: 0%;
    height: 6%;
    width: 5%;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    
    border: 1px;
  
  }
  a{
    text-decoration: none;
  }
  .voltar:hover{
    background-color: #02f602;
    color: aliceblue;
  }
 #botão{
    text-align: center;
    color:black;
    position: absolute;
    background-color: cornsilk;
   top: 5%;
   left: 48%;
    height: 6%;
    width: 5%;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    
    border: 1px;

}
a{
    text-decoration: none;
}
#botão:hover{
    background-color: #02f602;
    color: aliceblue;
}