*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-size: cover;
}
.container{
    position: absolute;
    display: flex;
    height: 99%;
    width: 99%;
    margin: 1px;
  
                       font-size: 16px;
                       color: rgb(255, 255, 255);
                       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 768px) {
    .container{
      font-size: 8px;
    }}     
video{
    display: flex;
    position: absolute;
    width: 20%;
    height: 40%;
    left: 30%;
    top: 20%;
    
    
}
.voltar{
    text-align: center;
    color:black;
    position: absolute;
    background-color: cornsilk;
   top: 5%;
   left: 0%;
    height: 6%;
    width: 5%;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    
    border: 1px;
  
  }
  a{
    text-decoration: none;
  }
  .voltar:hover{
    background-color: #02f602;
    color: aliceblue;
  }
 .texto{
    position: absolute;
    height: 80%;
    width: 50%;
    left: 50%;
    top: 5%;
    background-color: #6A0822;
    border: 5px solid burlywood;
    border-radius: 10px;
    font-family: 'Playfair', serif;
    font-size: 32px;
}
